.container {
    position: absolute;
    z-index: 1;
    top: 64px;
    right: 16px;
    border: 1px solid grey;
    background-color: white;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}